.element-3d {
    position: relative;
    overflow: hidden;
    transition: transform var(--animation-short-duration);
}

.gloss {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0) 100%);
    will-change: opacity;
    transition: 0.2s opacity ease-out;
    z-index: 10;
    pointer-events: none;
}