/* =========================
         GLOBAL
========================= */

.about-page {
    position: relative;
    width: 100vw;
    display: flex;
}

.about-page * {
    text-transform: none;
}

.side-content {
    position: relative;
}

/* =========================
      LEFT SIDE CONTENT
========================= */

.side-content.left-content {
    position: sticky;
    top: 0;
    padding: 30px;
    width: 23vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.side-content.left-content .element-3d {
    width: clamp(80%, 20vw, 100%);
    max-width: 350px;
}

/* --- NAVIGATION --- */

.navigation-container {
    display: flex;
    flex-direction: column;
}

.navigation-item {
    text-transform: uppercase;
    color: var(--main-text-light-color);
    opacity: 0.3;
    cursor: pointer;
    transition: opacity var(--animation-short-duration) var(--animation-easing);
}

.navigation-item.active {
    opacity: 1;
}

/* =========================
        RIGHT CONTENT
========================= */

.side-content.right-content {
    display: flex;
    flex-direction: column;
    width: 77vw;
    padding: 80px 180px 0 180px;
}

/* --- ABOUT CONTENT --- */

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vw;
    padding: 8vw 0;
}

.about-content .content {
    display: flex;
    flex-direction: column;
}

.about-content .indicator {
    display: block;
    font-size: 0.3rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.about-content .introduction-text {
    line-height: 1;
    margin-bottom: 50px;
}

.row-content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff21;
}

/* =========================
          SERVICES
========================= */

.services-content .element-3d {
    overflow: visible;
    height: 300px;
}

.services-content .element-3d .gloss {
    display: none;
}

.services-content .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    * {
        text-transform: uppercase;
    }
}

/* SERVICE COLORS */
.web-developement-service {
    background: radial-gradient(circle, #D7D0FF 30%, #ac9efb 100%);
}

.web-design-service {
    background: radial-gradient(circle, #FFEBC5 30%, #ffd88f 100%);
}

.web-interaction-service {
    background: radial-gradient(circle, #FFD3DF 30%, #f097af 100%);
}

/* SERVICE TEXT */
.service-container .upper-content,
.service-container .lower-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.service-container .inner-content {
    display: flex;
    align-items: center;
    gap: 5px;
}

.service-title,
.service-tag {
    font-size: 8px;
    line-height: 5;
}

/* =========================
          SOCIALS
========================= */

.about-content.services-content .content,
.about-content.socials-content .content {
    gap: 15px;
}

/* =========================
         RESPONSIVE
========================= */

@media (max-width: 1000px) {
    .side-content.right-content {
        padding: 150px 60px 0 60px;
    }
}

@media (max-width: 850px) {
    .side-content.left-content {
        display: none;
    }

    .side-content.right-content {
        width: 100vw;
    }
}

@media (max-width: 700px) {
    .services-content .content {
        grid-template-columns: repeat(4, 1fr);
    }

    .element-3d:has(.web-developement-service) {
        grid-column: 1 / 5;
    }

    .element-3d:has(.web-design-service) {
        grid-column: 1 / 3;
    }

    .element-3d:has(.web-interaction-service) {
        grid-column: 3 / 5;
    }
}

@media (max-width: 500px) {
    .services-content .element-3d {
        grid-column: 1 / 5;
        height: 450px;
    }
}

@media (max-width: 400px) {
    .side-content.right-content {
        padding: 150px 30px 0 30px;
    }
}