.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.blocs-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.blocs-container .bloc {
    position: absolute;
    border: 1px solid transparent;

    &.horizental {
        width: 100vw;
        height: 35vh;
        border-top-color: #00000018;
        border-bottom-color: #00000018;
        transform: translateY(-20%);
    }

    &.vertical {
        height: 100vh;
        width: 25vw;
        border-left-color: #00000018;
        border-right-color: #00000018;
    }
}

/*------------- Navigation Bar -------------*/

.navigation-bar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw;
    z-index: 1;
}

.navigation-bar .main-link-container {
    display: flex;
    gap: 10vw;
}

.navigation-bar .main-informations-container {
    display: flex;
    gap: 50px;
}

@media screen and (max-width: 700px) {
    .navigation-bar .main-informations-container {
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .navigation-bar {
        padding: 10vw;
    }

    .navigation-bar .main-link-container {
        width: 100%;
        justify-content: space-between;
    }

    .navigation-bar .main-informations-container {
        display: none;
    }
}

.navigation-bar .main-informations-container .information-container {
    display: flex;
    gap: 20px;
}


.navigation-bar .main-informations-container .information-container .information-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*------------- Home Content -------------*/

.home-content {
    width: 100%;
    z-index: 1;
}

.home-content .home-page-text {
    font-size: clamp(60px, 23vw, 100vw);
    line-height: 0.6;
}